---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';

const pageMeta = {
    title: "Hills Inc.",
    description: "Hills is devoted to the design, development, and manufacture of fiber extrusion equipment.",
    canonicalUrl: "https://www.hillstestsite.com",
    ogImage: "https://www.hillstestsite.com/assets/og-images/spunbond-og.jpg",
    ogImageAlt: "Diagram illustrating the Hills Inc. Spunbond process.",
    siteName: "Hills Inc",
    robots: "noindex, nofollow"
};
---

<html lang="en">
<head>
  <BaseHead {...pageMeta} />
</head>
<body>
    <main>
		<Nav />
    </main>
</body>
</html>
